.card-img-top {
        width: 100%; /* Ширина изображения равна ширине карточки */
        height: 200px; /* Фиксированная высота */
        object-fit: cover; /* Обрезка или масштабирование изображения для заполнения */
    }

.card-img-top2 {
    width: 100%;
    max-width: 100%; /* Ограничивает ширину изображения до ширины контейнера */
    height: auto; /* Сохраняет пропорции изображения */
    object-fit: contain; /* Изображение впишется в заданные размеры, сохраняя исходные пропорции */
    max-height: 300px; /* Ограничивает максимальную высоту */
}
